# Exclude everything (but folders). Folders to track will
# be reincluded later.
# See https://stackoverflow.com/a/30476326
/**/**
!/**/

# Include root files
!/.gitignore
!/.gitmodules
!/README.md
!/stylua.toml

# Neovim config
!/nvim/**

# Tmux config
!/tmux/**
/tmux/plugins/
!/tmux/plugins/tpm/

# Tmuxinator
!/tmuxinator/**

# Wezterm config
!/wezterm/**

# Exclude temporary files
.DS_Store
.temp/
